.visible_item {
    visibility: hidden;
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.block2 .block2-pic img:hover {
    cursor: pointer;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 25%;
}

.sub-description {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.showmore-btn {
    cursor: pointer;
    margin: 15px auto;
    width: fit-content;
}

.empty-cart {
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}

.empty-order {
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tab01 .nav-tabs .nav-item{
    margin: 15px 55px;
}

.empty-note {
    margin: 15px 0px 30px;
}

.how-itemcart2 {
    width: 60px;
    position: relative;
    margin-right: 20px;
}

.h40{
    height: 40px !important
}
/*Checkout*/

.checkout {
    font-family: 'Montserrat-Regular', sans-serif;
    color: #262626;
    margin: 2% 0;
    clear: inherit;
}

.checkout .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .checkout .container {
        max-width: 1380px;
    }
}

.checkout .d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

.checkout form {
    flex: 3;
}

.checkout .Yorder {
    flex: 2;
}

.checkout .title {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    color: #f6f6f6;
}

.checkout h2 {
    margin: 0;
    padding-left: 15px;
}

.checkout .required {
    color: red;
}

.checkout label, .checkout table {
    display: block;
    margin: 15px;
}

    .checkout label > span {
        float: left;
        width: 25%;
        margin-top: 12px;
        padding-right: 10px;
        font-size: 1.1rem;
        font-weight: 600;
    }

.checkout input[type="text"], .checkout input[type="tel"], .checkout input[type="email"], .checkout select {
    width: 70%;
    height: 42px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    /*color: #888;*/
}

.checkout input[type="radio"], .checkout input[type="radio"] + label {
    cursor: pointer;
}

.checkout textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    resize: none;
}

.checkout input::placeholder {
    color: #888;
}

.checkout input{
    display: inline-block;
}

.checkout select {
    width: 70%;
    height: 42px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.checkout .Yorder {
    margin-top: 15px;
    /*height: 600px;*/
    padding: 20px;
    border: 1px solid #dadada;
}

.checkout table {
    margin: 0;
    padding: 0;
}

.checkout th {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

.checkout tr > td:nth-child(1) {
    text-align: left;
    color: #2d2d2a;
}

.checkout tr > td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
}

.checkout td {
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
}

.checkout p {
    display: block;
    color: #888;
    margin: 0;
    /*padding: 10px 25px 0 25px;*/
    font-size: 1rem;
    font-family: 'Montserrat-Regular';
}

.checkout .price {
    color: #52ad9c;
    font-size: 15px;
}

.checkout h5 {
    font-size: 1.1rem;
}

.checkout .Yorder > div {
    padding: 15px 15px 0 15px;
    font-size: 1rem;
}

.checkout button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

    .checkout button:hover {
        cursor: pointer;
        background: #428a7d;
    }