
@Html.Partial("_Slider")

@Html.Partial("_Banner")

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        @Html.Partial("_Category")

    <div id="product">
        @Html.Action("Product")
    </div>

        @*@Html.Partial("_Blog")*@
    </div>
</section>

<script>

    var count = 0;

    function LoadMore() {
        count = count + 4;
        var url = "/Home/Product?count=" + count;
        $("#product").load(url)
    }

    function searchByCategory(id) {
        var url = "/Home/Product?cateId=" + id;
        $("#product").load(url)
    }

</script>