@{
    ViewBag.Title = "Thanh toán";
}

<div class="checkout">
    <div class="container">
        <div class="title">
            <h2>Thông tin thanh toán</h2>
        </div>
        <div class="d-flex">
            <form action="" method="post">
                <label>
                    <span class="fname">Họ tên <span class="required">*</span></span>
                    <input type="text" name="fullname">
                </label>
                <label>
                    <span>Số điện thoại <span class="required">*</span></span>
                    <input type="tel" name="phone">
                </label>
                <label>
                    <span>Tỉnh/Thành phố <span class="required">*</span></span>
                    <select name="city">
                        <option value="select">Select a country...</option>
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Åland Islands</option>
                    </select>
                </label>
                <label>
                    <span>Quận/Huyện<span class="required">*</span></span>
                    <select name="district">
                        <option value="select">Select a country...</option>
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Åland Islands</option>
                    </select>
                </label>
                <label>
                    <span>Phường/Xã<span class="required">*</span></span>
                    <select name="commune">
                        <option value="select">Select a country...</option>
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Åland Islands</option>
                    </select>
                </label>
                <label>
                    <span>Địa chỉ <span class="required">*</span></span>
                    <input type="tel" name="street">
                </label>
            </form>
            <div class="Yorder">
                <h5>Đơn hàng của bạn</h5>
                <div class="row">
                    <div class="col-md-10">
                        <p>2 x Phép Màu Để Trở Thành Chính Mình</p>
                    </div>
                    <div class="col-md-2">
                        <p class="float-right">99000</p>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-md-10">
                        <p>2 x Phép Màu Để Trở Thành Chính Mình</p>
                    </div>
                    <div class="col-md-2">
                        <p class="float-right">99000</p>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-md-10">
                        <p>2 x Phép Màu Để Trở Thành Chính Mình</p>
                    </div>
                    <div class="col-md-2">
                        <p class="float-right">99000</p>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-md-10">
                        <p>2 x Phép Màu Để Trở Thành Chính Mình</p>
                    </div>
                    <div class="col-md-2">
                        <p class="float-right">99000</p>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-md-10">
                        <p>2 x Phép Màu Để Trở Thành Chính Mình</p>
                    </div>
                    <div class="col-md-2">
                        <p class="float-right">99000</p>
                    </div>
                </div>
                <hr>
                <h5>Tạm tính</h5>
                <hr>
                <h5>Mã giảm giá</h5>
                <hr>
                <h5>Phí vận chuyển</h5>
                <hr>
                <h5>Tổng tiền</h5>
                <hr>
                <h5>Hình thức thanh toán</h5>
                <div>
                    <input type="radio" name="dbt" value="dbt" id="momo">
                    <label for="momo" class="d-inline"> Thanh toán bằng ví Momo</label>
                    <img width="32" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-mo-mo.svg" alt="momo">
                </div>
                <div class="pt-0">
                    <input type="radio" name="dbt" value="tt" id="tt" checked>
                    <label for="tt" class="d-inline">Thanh toán khi nhận hàng</label>
                    <img width="32" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg" alt="cod">
                </div>
                <button type="button" class="p-t-15">Đặt hàng</button>
            </div><!-- Yorder -->
        </div>
    </div>
</div>

